#bod{
    background: rgba(102, 146, 65, 0.973)
    }
    h1{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(29, 31, 32);
    color: white;
    }
    .container{
    border:1px solid rgb(129, 156, 187);
    padding: 0;
    }
    .row{
    margin-bottom: 25px;
    }
    .col-4{
    text-align: right;
    }
    .hidden{
    display: none;
    }